.para{
 font-size: 16px;
 color: olive;
}
.bd{
background-color: ivory;
}

body{
  color: green;
  font-family: Verdana;
}

p{
  font-size: 16px;
  color: green;
}

li{
  background-color: azure;
}

h1{
  color: green;
  font-size: 32px;
  font-family: Verdana;
  test-align: center;
}

h2{
  font-size: 26px;
  background-color: azure;
  text-align:center;
}
